<div class="container">
  <h2>Bind it!</h2>
  <ol>
    <li>Create the new components GameControl, Odd and Even</li>
    <li>The GameControl Component should have buttons to start and stop the game</li>
    <li>When starting the game, an event (holding an incrementing number) should get emitted each second (ref = setInterval())</li>
    <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers).</li>
    <li>Simply output Odd - Number, or Even - Number in the two components</li>
    <li>Style the element (eg, paragraph) holding your output text differently in both components.</li>
  </ol>


<hr>

  <app-game-control
    (gameStartRunning)="onGameRunning($event)">

  </app-game-control>

  <div class="row">
    <!-- <app-even
      *ngIf="theNumber%2 === 0"
      [arrayIn]="evenArray">
    </app-even>

    <app-odd
      *ngIf="theNumber%2 === 1"
      [arrayIn]="oddArray">
    </app-odd> -->
    <div class="col-md-6">
      <app-even
        [arrayIn]="evenArray">
      </app-even>
    </div>
    <div class="col-md-6">
      <app-odd
        [arrayIn]="oddArray">
      </app-odd>
    </div>
  </div>

</div>
